<ul>
    <li class="{% if page.url == '/home.html' or page.url == '/' %}selected{% endif %}"><a href="{{ site.baseurl }}/home.html">Home</a></li>
    <li class="{% if page.url == '/objeto-social1.html' %}selected{% endif %}"><a href="{{ site.baseurl }}/objeto-social1.html">Nuestro Proyecto</a></li>
    <li class="{% if page.url == '/actividad-actual.html' %}selected{% endif %}"><a href="{{ site.baseurl }}/actividad-actual.html">Actividad Actual</a></li>
    <li class="{% if page.url == '/objeto-social.html' %}selected{% endif %}"><a href="{{ site.baseurl }}/objeto-social.html">Quienes Somos</a></li>
    <li class="{% if page.url == '/convenios.html' %}selected{% endif %}"><a href="{{ site.baseurl }}/convenios.html">Convenios</a></li>
    <li class="{% if page.url == '/contact.html' %}selected{% endif %}"><a href="{{ site.baseurl }}/contact.html">Contacto</a></li>
    <li class="{% if page.url == '/web-amigas.html' %}selected{% endif %}"><a href="{{ site.baseurl }}/web-amigas.html">Web Amigas</a></li>
</ul>
